:root {
    --bs-primary: #6104f8;
    --bs-primary-rgb: 97, 4, 248;
    --bs-btn-bg: #6104f8;
    --bs-btn-border-color: #6104f8;
    --bs-btn-hover-bg: #914ffc;
    --bs-btn-hover-border-color: #6104f8;
    --bs-btn-active-bg: #31027d;
    --bs-btn-active-border-color: #6104f8;
}

html, body {
    min-width: 100%;
    height: auto;
    font-family: "Geist Mono", sans-serif;
    overflow-y: hidden;
}

h1 {
    font-family: "MedievalSharp", cursive;
    font-weight: 600;
}

nav {
    z-index: 5;
}

nav a {
    cursor: pointer;
}

#hero {
    width: 100%;
    min-height: 100vh;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#loading img {
    height: 7em;
    width: 7em;
}

#content {
    height: 83.5vh;
    display: none;
    position: absolute;
    z-index: 3;
    top: 3.6em;
    left: 0;
}

#projects {

}

#credits {
    padding: 1em 0;
}

.card img {
    width: 100%;
    margin: 0;
    border: 2px solid transparent;
    border-radius: 5px;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

footer a {
    margin: 0.5em;
    padding: 0.3em 0.7em;
    border: 2px transparent solid;
    border-radius: 5px;
}

footer a:hover {
    border: 2px solid var(--bs-primary);
}

footer a:hover > .bi {
    color: var(--bs-primary);
}

footer .bi {
    font-size: 1.5em;
    cursor: pointer;
}

@media only screen and (min-device-width: 1200px) {
    #projects .card {
        width: 25%;
    }
}
