:root {
    --bs-primary: #6104f8;
    --bs-primary-rgb: 97, 4, 248;
    --bs-btn-bg: #6104f8;
    --bs-btn-border-color: #6104f8;
    --bs-btn-hover-bg: #914ffc;
    --bs-btn-hover-border-color: #6104f8;
    --bs-btn-active-bg: #31027d;
    --bs-btn-active-border-color: #6104f8;
}

html, body {
    min-width: 100%;
    height: auto;
    font-family: "Geist Mono", sans-serif;
    overflow-y: hidden;
}

h1 {
    font-family: "MedievalSharp", cursive;
    font-weight: 600;
}

nav {
    z-index: 5;
}

nav a {
    cursor: pointer;
}

#hero {
    width: 100%;
    min-height: 100vh;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#loading img {
    height: 7em;
    width: 7em;
}

#credits-btn {
    position: absolute;
    bottom: 5em;
    left: 1em;
    z-index: 3;
    opacity: 0.5;
}

#content {
    height: 87vh;
    display: none;
    position: relative;
    z-index: 3;
    top: 0;
    left: 0;
    scroll-behavior: smooth;
}

#about {
    height: 150%;
}

.about-col {
    width: 100%;
}

#about-text {
    height: 70%;
}

#about-image {
    height: 30%;
    padding: 1em 0;
}

#about-photo {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#projects {

}

#credits {
    padding: 1em 0;
}

.credit {
    font-size: 1em;
}

.card img {
    width: 100%;
    margin: 0;
    border: 2px solid transparent;
    border-radius: 5px;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

footer a {
    margin: 0.5em;
    padding: 0.3em 0.7em;
    border: 2px transparent solid;
    border-radius: 5px;
}

footer a:hover {
    border: 2px solid var(--bs-primary);
}

footer a:hover > .bi {
    color: var(--bs-primary);
}

footer .bi {
    font-size: 1.5em;
    cursor: pointer;
}

@media only screen and (min-device-width: 768px) {
    html {
        font-size: 1.5em;
    }
    #about {
        height: 100%;
    }

    .about-col {
        height: 100%;
    }

    #about-image {
        order: 0;
        width: 50%;
        height: 100%;
        padding: 0;
    }

    #about-text {
        order: 1;
        width: 50%;
        height: 100%;
    }
}

@media only screen and (min-device-width: 1200px) {
    html {
        font-size: 1em;
    }
    #projects {
        padding-top: 1em;
    }

    #content {
        height: 83.5vh;
    }

}
